= breadcrumb
:css
  .apexcharts-menu-item {
    color: black
  }
  .apexcharts-tooltip {
    background: #f3f3f3;
    color: orange;
  }
.row
  .col-sm-6
    .box.bg.bg-clear= pie_chart([{name: "Series A", data: 25},{name: "Series B", data: 100},{name: "Series C", data: 200},{name: "Series D", data: 125}], legend: "left")
  .col-sm-6
    - candlestick_options = {plot_options: {candlestick: {colors: {upward: '#3C90EB',downward: '#DF7D46'}}}}
    .box.bg.bg-clear= candlestick_chart(candlestick_data, candlestick_options)
.row
  .col-sm-4
    - radar_series = [{name: "What it should be",data: { "Code review"=>10, "Issues"=>5, "Pull request"=>25, "Commits"=>60 }},{name: "What it really is",data: { "Code review"=>1, "Issues"=>3, "Pull request"=>7, "Commits"=>89 }}]
    .box.bg.bg-clear= radar_chart(radar_series,{title: "GitHub Radar", markers: {size: 4}, theme: 'palette4'})
  .col-sm-4
    - bubble_series = (1..4).map do |n|{name: "Bubble#{n}",data: 20.times.map{[rand(750),rand(10..60),rand(70)]}}end
    .box.bg.bg-clear= bubble_chart(bubble_series, data_labels: false, theme: 'palette6')
  .col-sm-4
    - range_bar_series = [{name: "Series A",data: {'A' => [1, 5],'B' => [4, 6],'C' => [5, 8],'D' => [3, 11]}}, {name: "Series B",data: {'A' => [2, 6],'B' => [1, 3],'C' => [7, 8],'D' => [5, 9]}}]
    .box.bg.bg-clear= range_bar_chart(range_bar_series, theme: 'palette3')
- @list_bg = ['info', 'success', 'danger', 'success', 'info', 'warning', 'danger', 'info', 'success']
- if @abstract_models
  .row
    - index = 0
    - @abstract_models.each do |abstract_model|
      - index_path = index_path(model_name: abstract_model.to_param)
      - if authorized?(:index, abstract_model) && !index_path.include?("ckeditor")
        - if index == @list_bg.length
          - index = 0
        - row_class = "box bg-#{ @list_bg[index].to_s } #{"link" if index_path} #{abstract_model.param_key}_links #{abstract_model.config.label_plural}"
        .col-sm-4
          .box{class: row_class, :"data-link" => index_path}
            %i{class: "icon-bg #{abstract_model.config.navigation_icon.present? ? abstract_model.config.navigation_icon : 'file' }"}
            .text-center
              %p= capitalize_first_letter(abstract_model.config.label_plural)
              %strong= @count[abstract_model.model.name].to_s
              %p= link_to content_tag("i", "", class: "fa fa-list-ul"), index_path, class: 'btn btn-black pjax'
        - index += 1

- if @auditing_adapter && authorized?(:history_index)
  #block-tables.block
    .content
      %h2= t("admin.actions.history_index.menu")
      = render partial: 'rails_admin/main/dashboard_history'
